.mb-5
    .border-b.border-black.text-2xl References
    .flex.flex-cols.flex-wrap.text-lg
        each ref in resume.references
            blockquote.py-5.shrink
                .italic
                    | &ldquo;
                    =ref.reference
                    | &rdquo;
                .pt-2 &mdash; #{ref.name}
