+section("Education")
    each edu in resume.education
        a.block(href=edu.url)=edu.institution
        div!=helper.mdToHtml(helper.beautifyArray(', ', [edu.studyType, edu.area]))
        div=helper.calcDateRange(edu.startDate, edu.endDate)