+section("Education")
    each edu in resume.education
        a.block.text-2xl(href=edu.url)=edu.institution
        .text-xl!=helper.mdToHtml(helper.beautifyArray(', ', [edu.studyType, edu.area]))
        .text-base=helper.calcDateRange(edu.startDate, edu.endDate)