+section('Personal Projects')
    each project in resume.projects
        .mb-5(class="print:mb-2")
            a.font-bold.text-xl.mb-1.text-blue-500(href=project.website class="print:text-black print:text-base" target="_blank")= project.name 
            p=project.description
            a.hidden.block.text-blue-500(href=project.website class="print:block" target="_blank")=project.website
            if project.highlights && project.highlights.length
                ul.list-disc
                    each highlight in project.highlights
                            li.mb-1.ml-5=highlight